@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    background-color: black;
}
.liste li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.liste {
    display: flex;
    list-style: none;
}
.liste li {
    margin-right: 1em;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: violet;
    text-align: center;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    background: url('backend/assets/dej.png');
    text-align: center;

}
form{
    text-align: center;
    background-color:wheat;
    border: white 2px solid;
    padding: 19px;
    width: 23%;
    height: 78%;
    margin: 0 auto;
    /* display: inline-block; */
    border-radius: 10px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    
}
form li a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

form ul li {
    list-style-type: none;
    /* margin-left: -15px;  */
    color: black;
    transition: all 0.5s ease 0s;
}
button {
    color: white;
    border: none;
    padding: 6px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    cursor: pointer;
}

form button {
    display: block;
    background-color:black;
    color: wheat;
    transition: all 0.5s ease 0s;
    text-align: center;
    margin-top: 50px;
}
form button:hover {
    background-color:white;
    color: black;
    transition: all 0.5s ease 0s;
}